@model IEnumerable<CookbookLibrary.Entities.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ratingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ratingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ratingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
